/** code by webdevtrick ( https://webdevtrick.com ) **/
html {
  display: grid;
  min-height: 100%;
}

body {
  display: grid;
  background: #333;
}

.main {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 850px;
  height: 480px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 2em;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #F6F4F3;
}
h1 sup {
	text-transform: lowercase;
	color: #FF3E41;
}

#countdown {
  color: #F6F4F3;
  text-align: center;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  letter-spacing: 5px;
  margin-top: 5%;
}

.days, .hours, .minutes, .seconds, .left {
  display: inline-block;
  padding: 20px;
  width: 120px;
  border-radius: 10px;
  transition-duration: 1s; 
}


.days {
  background: #abe188;
  color: #333;
}

.hours:hover, .days:hover, .seconds:hover, .minutes:hover{
  background-color: black;;
  transition-duration: 1s;
}

.hours {
  background:  #f7ef99;
  color: #333;
}

.minutes {
  background: #f1bb87;
  color: #333;
}

.seconds {
  background:  #f78e69;
  color: #333;
}

.posish{
  position: relative;
}

.left {
  background: #5d675b;
  color : white;
  margin:15px;
  text-decoration: none;
}
.c-number {
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 5em;
}